body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 0;
    color: white;

}
h1{
    font-size: 4rem;
     font-family: "Montserrat" Black 900;
    line-height: 1.5;
    font-weight: bolder;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0 0 0;
}
p{
margin: auto;
color: #8f8f8f;
}
.nav-link{
    font-family: "montserrat";
    font-size: 1.3rem;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    padding-left: 4%;
    font-family: "Ubuntu";
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
    font-size: 1.8;
    font-family: "Montserrat-Light";
}

/* Download Buttons */
.download-button{
     margin: 5% 3% 5% 0%;
}
/* Title Image */


.iphone-mockup{
    right: 25%;
    width: 15%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 1;

    }

    
    
    
.features{
    padding: 10rem 10rem;
    background-color: #fff;
    position: relative;
    z-index: 6;
}
.features-box{
    text-align: center;
    padding: 2rem 1rem;
}

.icon:hover{
    cursor: pointer;
    color: #6d212a;
}
.feature-p{
    width: 50%;
}
@media (max-width: 1700px) {
    .iphone-mockup {
        position: static;
        width: 60%;
        right: 0;
        transform: rotate(0deg);
    }
    .title-word{
        text-align: center;
    }
}
/* Testimonial section */
#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;

}
.carousel-item{
    padding: 7% 15%;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}
.press-logo{
    width: 12%;
    margin: 15px 15px 50px;
}
.button-price{
    margin-top: 1.5rem;
    display: block;
    width: 100%;
}
/* Pricing section */
#pricing{
    text-align: center;
    padding: 100px;
}
.pricing-column{
    padding: 10% 2%;
}
/* CTA */
#cta{
    background-color: #ff4c68;
    text-align: center;
}
.dog-life{
    color: #fff;
    font-size: 3.5rem;
    padding-top: 70px;
    width: 55%;
    margin: auto;
}
/* footer */
#footer{
    padding: 3rem 0;
    text-align: center;
}
.social-media{
    padding: 0 15px 50px;
}